<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ip_addr" value="0.0.0.0" />
    <add key="port" value="10101" />
    <add key="pem_prv_key" value="server.pem" />
    <add key="backlog" value="50" />
    <add key="mysql_conn_str" value="SERVER=localhost;DATABASE=rsa-pm-db;UID=rsa-pm-user;PASSWORD=somepassword;" />
  </appSettings>
</configuration>